[Unit]
Description=Update repository vantage-publisher

[Service]
ExecStart=$HOME/vantage-publisher/vantage-updater.sh

[Install]
WantedBy=multi-user.target
